# Where to put the built docker image
REPO="shoginn/adsbexchange-mlat"

# Base image for each arch
BASE=alpine

# Architectures to build
ARCHITECTURES="arm arm64 amd64"

# Metadata Variables
MAINTAINER="ginnserv@gmail.com"
NAME="Docker ADS-B - adsbexchange-mlat"
DESCRIPTION="Docker container for ADS-B - This is the adsbexchange.com (MLAT) component"
URL="https://github.com/ShoGinn/adsbexchange-mlat"
